body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../images/conifer-1867371.jpg) no-repeat center center fixed;
    background-size: cover;
}
th {
    align-content: center;
}
.navbar-brand {
    font-family: 'Passion One', cursive;
    /* font-weight: bold; */
    font-size: 45px;
    color: white !important;
}
.navbar {
    background: #003826;
    border: none;
}
.panel {
    border: none;
}
.trail-viewer, .weather-viewer {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
#map {
    border: 1px solid black;
    height: 400px;
}
#table-data {
    align-content: center;
}
#whatMagic {
    color: white !important;
}
/* modal */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover {
    color: #003826;
}

/* Social Media */
